.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgb(163, 229, 226);
}

#outlined-basic {
  background-color: rgb(249, 244, 238);
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}

button{
  margin: 2px;
}
p {
  font-family: Arial, Helvetica, sans-serif;

}